<h1>Sebastián Prado</h1>
<h2>Yo elegí la carrera de desarrollo de software porque tengo conocimientos en algunos lenguajes y manejo de la terminal.
    Aparte yo uso Linux (KDE Neon) como sistema principal ya que este mismo facilita el proceso de programación
    y la instalación de repositorios. También usa la licencia GNU, la cual brinda la posibilidad de modificar el sistema
    sin tener represalias legales.
</h2>

<H1>ANDRES PERALTA</H1>
<h2>yo eleji esta carrera porque me gusta mucho progamar y quisiera aprender hacer aplicaciones y paginas web
    y me veo en un futuro programando en una empresa grande y tambien escoji esta carrera porque me gusta carrera
    mis propios videojuegos
</h2>